.plan-modal .rt-TabsRoot {
  margin-top: calc(-1 * var(--space-2));
}

.plan-modal .rt-TabsContent[data-state='active'] {
  display: flex;
  margin-bottom: calc(2 * var(--space-3));
  flex: 1 1 100%;
  min-height: 0;
  padding: var(--space-1);
  flex-direction: column;
  gap: var(--space-1);
  overflow: hidden;
}
